/* Hintergrund der Startseite */
.start-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("C:\Users\mobil\Desktop\Jetzt\3DWebseite\src\assets\logo1.jpg"); /* Dein Hintergrundbild */
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Verhindert das Scrollen */
    margin: 0;
    padding: 0;
}

/* Layout des Kreises */
.circle-layout {
    position: relative;
    width: 100%;
    height: 100vh; /* Vollbild */
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling für die Buttons */
.circle-button {
    position: absolute;
    font-size: 2rem;
    color: white; /* Textfarbe */
    text-decoration: none;
    text-align: center;
    background-color: transparent; /* Kein Hintergrund */
    border: none; /* Keine Ränder */
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Baby Teeth, sans-serif; /* Schriftart */
}

/* Hover-Effekt */
.circle-button:hover {
    color: #cc00ff; /* Blaue Farbe bei Hover */
    text-shadow: 0 0 8px #cc00ff, 0 0 16px #cc00ff, 0 0 24px #cc00ff; /* Leuchteffekt */
}

/* Transformierung der Buttons entlang des Kreises */
#path-register {
    transform: rotate(0deg) translate(150px) rotate(100deg);
    /* Genauere Positionierung */
    transform: translateX(-95px) translateY(-105px) rotate(0deg) translate(150px) rotate(10deg);
}

#path-impressum {
    transform: rotate(90deg) translate(150px) rotate(-90deg);
    /* Genauere Positionierung */
    transform: translateX(80px) translateY(-55px) rotate(90deg) translate(150px) rotate(-90deg);
}

#path-about-us {
    transform: rotate(180deg) translate(150px) rotate(-180deg);
    /* Genauere Positionierung */
    transform: translateX(280px) translateY(-25px) rotate(180deg) translate(150px) rotate(-180deg);
}

#path-login {
    transform: rotate(200deg) translate(150px) rotate(-270deg);
    /* Genauere Positionierung */
    transform: translateX(80px) translateY(55px) rotate(270deg) translate(145px) rotate(-270deg);
}

/* Allgemeine Einstellungen für den Body */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: black; /* Fallback-Hintergrundfarbe */
}
